{% extends 'basic.html' %}
{% block content %}

<div id="Outer" class="jumbotron jumbotron-fluid">
  <h1 style="color:white; text-align:center; font-size:60px;"> {{data["name"]+ ' - ' + data["sys"]["country"]}} </h1>

  <div class="container">
    <h1 id="Weather"class="display-4"> Today's Weather 
        <img src={{"http://openweathermap.org/img/w/" + data["weather"][0]["icon"] + ".png"}} alt="place bear" />
    </h1>

      <br>
      <div class="Data">
          <h2 style="color:white; font-size:55px;" >{{data["weather"][0]["description"]}}<sup class="Degree" ></sup> </h2>
          <h2 style="color:white; font-size:30px;" > Temperature {{data["main"]["temp"]}}<sup>o</sup> </h2>
          <h2 style="color:white; font-size:30px;" > Feel like {{data["main"]["feels_like"]}}<sup>o</sup> </h2>
          <br>
            <h2 style="color:white; font-size:30px;" > Wind Speed {{data["wind"]["speed"]}} Mph</h2>
            <h2 style="color:white; font-size:30px;" > Wind Degree  {{data["wind"]["deg"]}}<sup>o</sup></h2>
            <h2 style="color:white; font-size:30px;" > Humidity  {{data["main"]["humidity"]}} %</h2>
            <br>
            <br>

            <form class="" action="{{ url_for('weather_index') }}" method="POST">

                <div id="searchbar" class="form-group">
                  {{  form.hidden_tag()  }}
                  {{ form.search(placeholder = "Enter Area Name ", class="form-group" ) }}
                  {{ form.button( class = 'btn btn-dark'  )  }}
                </div>

           </form>
      </div>
  </div>
</div>

<style type="text/css">


  #searchbar{
    padding:10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;}

  .Degree{
    font-size:45px;
  }

  #Weather{
    color:white;
    text-align:center;
  }

    .container{
      margin-left: auto;
      margin-right: auto;
      margin-top:2%;
      width: 600px;
      height: auto;
      padding: 10px;
      background-color:rgba(29, 161, 242);}

    .Data{
      padding:20px;
      margin-left: 50px;
    }
    #Outer{
      background-color:#282c34;
      background-size: cover;
      height:100vh;
    }

</style>


{% endblock %}
